<div>
    <app-header></app-header>
  </div>
<div>
  <h2> Others </h2>
  <div class="list">
    <input type="text" placeholder="enter item"/>
    <button class="button" type="button">Add item</button>
    <button class="button" id="delete" (click)="clearList()">Delete ALL</button>
    <div class="buy-items">
      <ul class="list-items checked-list" *ngFor="let items of list">
        <li class="item"><input id="checkbox" type="checkbox"><span>{{items}}</span></li>
      </ul>
    </div>
  </div>

</div>