<div>
    <app-header></app-header>
  </div>
<div>
  <h2> {{this.listData.listName}} </h2>
  <div class="list">
    <div id="input-container">
    <input aria-label='Enter item' #newItemText name="textbox" placeholder="Add item"(keyup.enter)="updateItem(newItemText.value); newItemText.value=''; refresh()">
    <button aria-label="Add item"class="button" (click)="updateItem(newItemText.value); inputfocus(); this.itemBeingEdited=''; newItemText.value=''; refresh()"><i class="fa fa-check"></i></button>
    <button aria-label="Delete all items"class="button" (click)="clearList(); refresh(); inputfocus()"><i class="fa fa-trash"> ALL</i></button>
    </div>
    <div class="buy-items">
      <ul class="list-items checked-list" *ngFor="let item of itemsArray">
        <li class="item">
          <!--<input id="checkbox" checked type="checkbox">-->
          <input id="{{item.itemName}}" [checked]="item.checked" class="checkbox" type="checkbox" (change)="checkBoxValueChanged($event)"/>
            <label class="item-container">
              {{item.itemName}}  
              <i aria-label="Delete item" (click)="clearItem(item.itemName); refresh(); inputfocus()" class="fa fa-close item-change"></i>
              <i aria-label="Edit item" (click)="newItemText.value=item.itemName; this.itemBeingEdited=item.itemName; inputfocus()" class="	fa fa-pencil item-change"></i>
            </label>
        </li>
      </ul>
    </div>
  </div>

</div>



