ul li {
    cursor: pointer;
    transition: 0.2s;
    background:rgb(212, 173, 230);
}

ul li:hover{
    background-color:rgb(221, 103, 221);
 }
.item-delete{
    float: right;
    font-size: 1em;
    padding-top: 3px;
}