<div>
    <app-header></app-header>
  </div>
<div>
  <h2> {{this.listData.listName}} </h2>
  <div class="list">
    <div id="input-container">
    <input #newItemText (keyup.enter)="addItem(newItemText.value); newItemText.value=''">
    <button class="button" (click)="addItem(newItemText.value); newItemText.value=''; refresh()"><i class="fa fa-check"></i></button>
    <button class="button" (click)="clearList(); refresh()"><i class="fa fa-trash"> ALL</i></button>
    </div>
    <div class="buy-items">
      <ul class="list-items checked-list" *ngFor="let item of itemsArray">
        <li class="item">
          <!--<input id="checkbox" checked type="checkbox">-->
          <input id="{{item.itemName}}" [checked]="item.checked" class="checkbox" type="checkbox" (change)="checkBoxValueChanged($event)"/>
            <label class="item-container">
              {{item.itemName}}  <button class="item-delete" (click)="clearItem(item.itemName); refresh()"><i class="fa fa-trash item-delete"></i></button>
            </label>
        </li>
      </ul>
    </div>
  </div>

</div>



