#title{
    text-align:center;
    color: white;
    text-shadow: 4px 4px 6px #b031d6;
    font-size: 3em;
    font-family: 'Patrick Hand', cursive, Arial, Helvetica, sans-serif; 
}

#categories{
    color: purple;
    font-size: 3em;
    font-family: 'Patrick Hand', cursive, Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.button-main{
    display: flex;
    color: white;
    flex-flow: column;
    margin:  1.5em auto;
    font-size: 2.5em;
    width: 60%;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(212, 173, 230);
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 #b031d6;
    transition: font-size 0.2s ease;
    
}
.button-main:hover {
    background-color: purple;
    font-size: 3.5em;
    
}

#buttons-container{
    text-align: center;
}

@media screen and (min-width: 700px){
    #title{
        font-size: 6em;  
        text-shadow: 6px 6px 8px #b031d6;
    }
    
    #categories{
        font-size: 4em;
    }
    .button-main{
        font-size: 3.5em;
        width: 35%;
    }
    .button-main:hover {
        background-color: purple;
        font-size: 5em;
        
    }

}