/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Patrick Hand', cursive;
    
    background: linear-gradient(360deg, rgb(159, 67, 187) 0%, rgb(241, 205, 248) 100%);
}
input[type='checkbox'] {
    width:.7em;
    height:.7em;
    background-color:white;
    cursor: pointer;
}
input:checked + label  {
    text-decoration: line-through;
    color: gray;
  }
 
h2{
    text-align: center;
    font-size: 3em;
    color:rgb(159, 67, 187);
    font-family:'Reenie Beanie', cursive;
    margin: .5em;
}
#input-container{
    width: 100%;
    display: inline-block;
    padding-bottom: .3em;
}
.list{
    text-align: center;
    padding-top: .5em;
    background: white;
    margin: 1rem auto;
    display: block;
    width: 18em;
    border-radius: 15px;
    border: 13px double purple;
    box-shadow: 2px 4px  rgb(159, 67, 187);
}
input{
    font-size: 1.2em;
    width: 45%;
    font-family: 'Patrick Hand', cursive;
}
.button{
    background: rgb(212, 173, 230);
    color: white;
    margin: .3em;
    font-size: 1.2em;
}
.item-delete{
    background: rgb(212, 173, 230);
    color: white;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: purple;
}

li{
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.item{
    text-align: left;
}
ul{
    padding: 0;
}

.buy-items{
    padding: 0;
}

@media screen and (max-width: 320px){
    .list{
        width: 16em;
    }
}

@media only screen and (min-width: 700px){
    #title{
        font-size: 5em !important;  
        text-shadow: 6px 6px 8px #b031d6 !important;
    }
    #header-menu{
        font-size: 1.5em;
    }
    h2{
        font-size: 4.5em;
    }
    .list{
        width: 30em;
    }
    input, .button{
        font-size: 2em;
    }
    li{
        font-size: 2.5em;
    }
    input[type='checkbox'] {
        width:.5em;
        height:.5em;
    }
}

@media only screen and (min-width: 1000px){
    .list{
        width: 40em;
    }
    input{
        font-size: 2.5em;
    }
    h2{
        font-size: 6em;
    }
    .button{
        font-size: 2.8em;
    }
    li{
        font-size: 3.5em;
    }
    input[type='checkbox'] {
        width:.3em;
        height:.3em;
    }
}