/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Patrick Hand', cursive;
    font-family: 'Reenie Beanie', cursive; 
    background: linear-gradient(360deg, rgb(159, 67, 187) 0%, rgb(241, 205, 248) 100%);
}

h2{
    text-align: center;
    padding-top: 2em;
}
.list{
    text-align: center;
    padding-top: 1em;
    background: white;
    margin: 1rem auto;
    display: block;
    width: 20em;
    border-radius: 15px;
    border: 13px double purple;
    box-shadow: 2px 4px  rgb(159, 67, 187);
}
.button{
    background: linear-gradient(70deg, rgb(159, 67, 187) 0%, rgb(241, 205, 248));
    color: white;
}
#delete{
    background: rgb(159, 67, 187);
}
li{
    list-style: none;
    font-size: 2em;
    text-align: left;
}

