/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Patrick Hand', cursive;
    font-family: 'Reenie Beanie', cursive; 
    background: linear-gradient(360deg, rgb(159, 67, 187) 0%, rgb(241, 205, 248) 100%);
}
